<!DOCTYPE html>
<html>
    <head>
        <title>Frontend Test</title>
    	<link rel="stylesheet" href="css/style.css">
    </head>
    <body ng-app="app">
   		<nav class="navbar navbar-inverse bg-inverse col-xs-12">
    		<a class="navbar-brand" href="#">
				<img src="img/logo.svg" height="32" alt="Trovit">
			</a>
		</nav>
    	<div class="container" ng-controller="dataCtrl">
    		<div class="row">
		    	<div id="line-chart" class="col-xs-12 col-sm-6">
		    		<canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
		    	</div>
				<div class="col-xs-12 col-sm-6">
			        <table id="data" class="table table-striped">
					  <thead>
					    <tr>
					      <th>#</th>
					      <th>Month</th>
					      <th>Year</th>
					      <th>Price / m2</th>
					    </tr>
					  </thead>
					  <tbody>
					  	<tr ng-repeat="j in json">
					  		 <th scope="row">{{j.key}}</th>
					  		 <td>{{j.month}}</td>
					  		 <td>{{j.year}}</td>
					  		 <td>{{j.price_m2}}</td>
					  	</tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>

    	<script src="js/bundle.js"></script>
    	<script src="js/scripts.js"></script>
    </body>
</html>